body {
    //background-image: url("img/dublin.jpg");
}

/* Navbar Start */
/* Josephin */
.navbar{
    background-color: #239c56;
    border: none;
    min-height: 62px;
    max-height: 62px;
    position: fixed;
}

/* Navbar Header Brand */
.navbar-header .navbar-brand {
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 26px;
}

/* Navbar Header Brand Hover */
.navbar-header .navbar-brand:hover,
.navbar-header .navbar-brand:focus {
  color: #239c56;
  background-color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 26px;
}

/* Navbar links Hover */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #239c56;
  background-color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
}

/* Navbar links */
.navbar-inverse .navbar-nav > li > a {
    color: white;
    padding-top: 17px;
    margin-bottom: 0px;
    padding-top: 17px;
    margin-bottom: 0px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
}

/* Navbar Dropdown Menu */
 .navbar-inverse .navbar-nav .open .dropdown-menu > .active > li > a {
    color: #239c56;
    background-color: red;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/*a:hover { color:red; background:yellow; }*/

/* Menu Focus */
ul.nav a:focus
{ 
    color: white !important; 
    background: #e2534b !important;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Login Button */
.loginBtn{
  /*color: #f39c12; */
  background-color: #e2534b;
  /*border-bottom-left-radius: 20px;*/
}

/* Navbar Collapse Style */
.navbar-collapse{
	background-color: #239c56;
	padding-bottom: 10px;
	margin-bottom: 0px;
}
/* Navbar End */

/* Carousel Style Start */
.carousel-caption h2{
    background-color: #e2534b;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: -10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.carousel-caption h3{
    padding-bottom: 20px;
    background-color:rgba(39,147,96,0.7);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.carousel
{
     height:700px;
}

.carousel-caption {
	min-height: 500px;
}
/* Carousel Style End */

/* Arrow On Drop Down */
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 182px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: white;
  content: '';
}

.d2 > .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 182px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: red;
  content: '';
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar-inverse .navbar-toggle
{
	background-color: rgba(243,156,18,0.9);
	border: none;
	box-shadow: 2px 2px 5px #2C2C2C;
}

.navbar-inverse .navbar-toggle:hover
{
	background-color: #e2534b;
	border: none;
	box-shadow: 2px 2px 2px #2C2C2C;
}

.mapLine img{
	padding-top: 0px;
	margin-top: 0px;
	max-height: 9px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	position: fixed;
	width: 1950px;
}

.mapLine2 img{
	padding-top: 0px;
	margin-top: 2px;
	max-height: 9px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	position: fixed;
	width: 1950px;
}

.hero-spacer {
    margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	margin-bottom: 50px;
}

.hero-spacer h1 {
    padding-top: 5px;
    font-size: 24px;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.hero-spacer p {
    font-size: 14px;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.carouselImg1{
	margin-left: 60px;
}

.carouselImg2{
	margin-left: 45px;
}

.arrowBox1{
	background-color: #e2534b;
	width: 35px;
	height: 35px;
	margin-left: -20%;
	margin-top: 15px;
	font-size: 30px;
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	border:1px;
	border-radius:5px;
}

.arrowBox2{
	background-color: #e2534b;
	width: 35px;
	height: 35px;
	margin-left: -20%;
	margin-top: 15px;
	font-size: 30px;
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	border:1px;
	border-radius:5px;
}

.icon-prev ,.icon-next{
	color: white;
}

/* Button Style */
.btn
{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 14px;
	color: #FFFFFF !important;
	padding: 12px 30px;
	background: #e8645a;
	line-height: 20px;
	text-transform: uppercase;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: inset 0px -4px 0px #e2534b;
	-webkit-box-shadow: inset 0px -4px 0px #e2534b;
	-moz-box-shadow: inset 0px -4px 0px #e2534b;
	-o-box-shadow: inset 0px -4px 0px #e2534b;
	margin-top: 0px;
	margin-bottom: 10px;
}

.btn:hover
{
	background: #e2534b;
}

.btn1
{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 16px;
	color: #FFFFFF !important;
	padding: 10px 10px;
	background: #ffcc33;
	line-height: 20px;
	text-transform: uppercase;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: inset 0px -4px 0px #f39c12;
	-webkit-box-shadow: inset 0px -4px 0px #f39c12;
	-moz-box-shadow: inset 0px -4px 0px #f39c12;
	-o-box-shadow: inset 0px -4px 0px #f39c12;
}

.btn1:hover
{
	background: #f39c12;
	text-decoration: none
}

.btn2
{
	font-family: 'roboto_condensedregular';
	font-size: 22px;
	color: #FFFFFF !important;
	padding: 10px 10px;
	background: #ffcc33;
	line-height: 20px;
	text-transform: uppercase;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: inset 0px -4px 0px #f39c12;
	-webkit-box-shadow: inset 0px -4px 0px #f39c12;
	-moz-box-shadow: inset 0px -4px 0px #f39c12;
	-o-box-shadow: inset 0px -4px 0px #f39c12;
        margin-bottom: 5px;
}

.btn2:hover
{
	background: #f39c12;
	text-decoration: none
}


/* Ratings Style */
.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

/* Scroll To Top Style Start */
.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffcc33;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
}

.scroll-top1 {
   position:fixed;
   bottom:0;
   right:90%;
   z-index:100;
   background: #ffcc33;
   font-size:12px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top1 a:link,.scroll-top1 a:visited {
  color:#222;
}

/* Scroll To Top Style End */

/*-- start footer --*/
.footer_bg{
    background: #27ae60;
}
.footer{
	padding: 4% 0;
}
.footer1_of_3{
	padding-left: 0px;
}
.footer_of_3{
	padding-right: 0px;
}
.f_logo{
	margin-bottom: 20px;
}
.footer1_of_3 p{
	font-size: 14px;
	color: #ffffff;
	line-height: 1.5em;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
.footer1_of_3 p span{
	font-size: 18px;
	font-style: italic;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
.footer1_of_3 span{
	font-size: 14px;
	color: #ffffff;
	line-height: 1.5em;
}
.footer1_of_3 span a{
	font-size: 18px;
	font-style: italic;
	color: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
.footer1_of_3 span a:hover{

}
.footer1_of_3 h4 {
	font-size: 24px;
	color: #3C5A5A;
	text-transform: capitalize;
	margin: 0px 0px 15px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
.footer_of_3 h4{
	font-style: italic;
	font-size: 24px;
	color: #ffffff;
	margin: 0px 0px 15px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
.f_para{
	width: 90%;
}
.f_list li a:before{
	content: url('../img/right_arrow.png');
	vertical-align: baseline;
	margin-right: 10px;
}
.f_list li a{
	display:block;
	font-size: 14px;
	color: #ffffff;
	line-height: 1.8em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
.f_list li a:hover{
	text-decoration:none;
	color: #3C5A5A;
}
.footer_of_3 h4 span{
	font-style: normal;
	padding-left: 10px;
	text-transform: capitalize;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
.blog_list{
	margin-top: 20px;
}
.blog_list:first-child{
	margin-top: 0;
}
.f_pic{
	padding: 0px;
}
.f_pic img{
	margin-top:5px;
}
.f_text{
	padding-right: 0px;
}
.f_text a{
	text-decoration:none;
}
.f_text p{
	font-size: 14px;
	color: #ffffff;
	line-height: 1.5em;
	margin: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
.f_text p:hover{

	color: #3C5A5A;
}
.f_text span{
	font-size: 14px;
	color: #3C5A5A;
	text-transform: capitalize;
	display: block;
	margin-top: 5px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Bottom footer Start */
.footer1_bg{
	background: #239c56;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
.footer1{
	padding: 2% 0;
}
.copy p{
	color: #ffffff;
	font-size: 14px;
	line-height: 1.8em;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
.copy p a{
	color:#E2534B; 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
.copy p a:hover{
	color: #ffffff;
	text-decoration: none;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* Bottom footer End */

/* Social Icons Start */
#social:hover 
{
    -webkit-transform:scale(1.1); 
	-moz-transform:scale(1.1); 
	-o-transform:scale(1.1); 
}

#social
 {
	-webkit-transform:scale(0.8);
	/* Browser Variations: */
	-moz-transform:scale(0.8);
	-o-transform:scale(0.8); 
	-webkit-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}    
			
/* Only Needed in Multi-Coloured Variation */
.social-fb
{
	color: white;
}
.social-tw
{
	color: white;
}
.social-gp
 {
	color: white;
}
.social-em
{
	color: white;
}
                                             
.social-fb:hover 
{
	color: #3B5998;
}
.social-tw:hover 
{
	color: #4099FF;
}
.social-gp:hover
 {
	color: #d34836;
}
.social-em:hover 
{
	color: #f39c12;
}

.panel-default {
	opacity: 0.9;
	margin-top:30px;
}

.social-fb2
{
	color: #3B5998;
}
.social-tw2
{
	color: #4099FF;
}
.social-gp2
 {
	color: #d34836;
}
.social-em2
{
	color: #f39c12;
}


.form-group.last { margin-bottom:0px; }

/* Other Panel */
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.map
{
	margin-top: 25px;
}


.form-group select
{
    color: grey;
}

.sidebar{
    margin-top: 20px;
    background-color: #e2534b;
    position:fixed;
}

.dashboardIcons 
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.dashboardOptionsTxt
{
    color: #239c56;
    
}

.main
{
    margin-top: 20px;
}

.divider1 {
	background-image: url('../img/bg/divider1.jpg')
}

.white h1 {
	padding-top: 35px;
}

.white p {
	padding-top: 25px;
}

/* Section Dividers */
.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 600px;
    min-height: 600px;
    border-bottom: 2px solid #E6EAED;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;


    background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-attachment: relative;
    
    text-align: center;
}

.textdivider h1 {
	padding-top: 70px;
	color: #ffcc33;
	font-size: 40px;
    
}

.textdivider p {
	color: white;
	font-size: 25px;
}

.divider1 {
	background-image: url('../img/divider1.jpg')
}
.divider2 {
	background-image: url('../img/divider3.jpg')
}

.modal-dialog{
    background-color: white;
    border-radius: 5px;
}

.modal-body .pull-left
{
	margin-right: 1em;
}

.modal-body .pull-right
{
	margin-left: 1em;
}

.cutprice{
    text-decoration: line-through;
}

.tourtxt
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}

.tourtxt3
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    margin-top: -50px;
}

.tourtxt2
{
    margin-top: 60px;
}

.cheddar
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    margin-top: 20px;
}

.cheddar1
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    margin-top: -90px;
}

.tourB p
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}

.tourB h1
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}

.tourB1 p
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
}

.tourB1 h1
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}

.tourtxt h2
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 36px;
}

.teamtxt h1
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 36px;
}

.teamtxt h4
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 22px;
}

.teamtxt p
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}

.boxt{
    background-color: #fafafa;
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #fed136;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

.registerP
{
    margin-right: 180px;
}

.indexBody
{
    background-image: url(../img/indexB.jpg);
}

.userL
{
    margin-top: 50px;
}

h1
{
    font-size: 18px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
}


.ratingM
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    margin-top: -5px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}


p2
{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
}

#services
{
    margin-bottom: -90px;
}