/* MAIN CSS CODE */
#container
{
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-width: 300px;
    max-width: 520px;
    color: #7f8c8d;
    padding-bottom: 10px;
    background-color: #c0d9f3;
}

#container6
{
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-width: 300px;
    max-width: 510px;
    color: #7f8c8d;
    padding-bottom: 10px;
    background-color: #c0d9f3;
    padding-left: 10px;
}

#container6 h1
{
    font-size: 14px;
}

#container6 td
{
    padding-left: 0px;
}

#table td
{
    background-color: #c0d9f3;
}

#container1 
{
    color: black;
}

#container3
{
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-width: 300px;
    max-width: 1005px;
    color: #7f8c8d;
    padding-bottom: 10px;
    background-color: #c0d9f3;
}

#container4
{
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-width: 300px;
    max-width: 600px;
    color: #7f8c8d;
    padding-bottom: 10px;
    background-color: #c0d9f3;
    padding-left: 10px;
}

#container5
{
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-width: 300px;
    max-width: 840px;
    color: #7f8c8d;
    padding-bottom: 10px;
    background-color: #c0d9f3;
}

#container3 h1
{
    font-size: 15px;
}

#container h1
{
    font-size: 15px;
    padding-left: 10px;
}

#tableStyle table {
    border: 1px solid black;
    border-collapse: collapse;
}

#tableStyle th, td {
    padding: 5px;
    text-align: left;
}

#tableStyle th{
    color: white;
    background-color: #1d9ce6;
}

.white td{
    background-color: white;
}

#tableStyle a{
    color: #1d9ce6;
    font-family: arial;
    font-weight: bold;
}

#tableStyle a:hover { 
    color: #2980b9;
}

#table {
    padding-left: 10px;
}

.toolBar
{
    display: inline;
}

.toolBar a{
    color: #1d9ce6;
    font-family: arial;
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.toolBar a:hover { 
    color: #2980b9;
}

.toolBar2
{
    display: inline;
}

.toolBar2 a{
    color: #1d9ce6;
    font-family: arial;
    font-size: 14px;
    margin-right: 20px;
    font-weight: bold;
}

.toolBar2 a:hover { 
    color: #2980b9;
}

#container7
{
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-width: 300px;
    max-width: 690px;
    color: #7f8c8d;
    padding-bottom: 10px;
    background-color: #c0d9f3;
}

#container7 h1
{
    font-size: 18px;
    padding-left: 10px;
}






